/* COLORS:
 #11182F;  rgb(17,24,47)
 #F4D24C;  rgb(244,210,76)
 #6B8E94;  rgb(107,142,148)
 #FFF9F9;  rgb(255,249,249)
 #368C5E;  rgb(54,140,94)
 #B63811;  rgb(182,56,17)
*/

html {
  font-family: 'Open Sans', 'San Francisco', Helvetica, sans-serif;
  box-sizing: border-box;
  font-size: 16px;
  background: linear-gradient(
    rgba(17,24,47, 0.9),
    rgba(17,24,47, 0.1)),
    url('../img/ep_naturalwhite.png');
  background-repeat: repeat;
  /*background-attachment: fixed; this doesn't work great on ios */
}

nav {
  background: linear-gradient(rgba(255,249,249,1), rgba(255,249,249,0.8));
  color: #11182F;
  height: 50px;
  padding: 10px;
  position: fixed;
  z-index: 1000;
  width: 100%;
}

a, a:visited {
  color: #11182F;
  text-decoration: none;
  font-weight: bold;
}

nav a, nav a:visited {
  color: #11182F;
  font-weight: 300;
  font-size: 1rem;
}

nav a:active, nav a:hover {
  color: #368C5E;
  font-weight: bold;
}

h1 {
  font-size: 1.6rem;
  font-family: 'Coda', sans-serif;
  color: #11182F;
  padding: 12px;
}

.brand {
  font-family: 'Coda', sans-serif;
  font-size: 2.2rem;
  font-weight: bold;
  margin-left: 25px;
  color: #11182F;
  text-align: center;
}

.toggle-button {
  position: fixed;
  right: 10px;
  top: 10px;
  font-size: 1.2rem;
  cursor: pointer;
}

.main-nav {
  display: none;
}

.hero {
  background: -webkit-linear-gradient(rgba(255,249,249,1), rgba(255,249,249,0.2)),
        url('../img/bg.jpg');
  background: -o-linear-gradient(rgba(255,249,249,1), rgba(255,249,249,0.2)),
        url('../img/bg.jpg');
  background: linear-gradient(rgba(255,249,249,1), rgba(255,249,249,0.2)),
        url('../img/bg.jpg');
  background-size: cover;
  /*background-attachment: fixed;*/
  background-position: top;
  background-repeat: no-repeat;
  min-height: 50vw;
  position: relative;
  padding-top: 45px;
}

.hero h1 {
  position: absolute;
  top: 60px;
  left: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

ul .card {
  list-style: none;
  background-color: #FFF9F9;
  border: 1px solid #11182F;
  border-radius: 3px;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 20px;
  padding: 0;
  max-width: 360px;
  height: 440px;
}

.card-image {
  text-align: center;
  padding-top: 15px;
}

.card-body {
  padding: 20px;
  text-align: justify;
  color: #11182F;
}

.card-title {
  max-width: 320px;
  margin: 0 auto;
  margin-top: 10px;
  color: #368C5E;
  font-size: 1.2rem;
  font-weight: 300;
}

.card.game {

}

.section-title {
  color: #FFF9F9;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgba(54,140,94,0.8);
  border-bottom: 1px solid #11182F;
  border-top: 1px solid #11182F;
}

.projects {
  display: flex;
}

.projects .card {
  flex-direction: row;
}

.find-me {
  width: 80%;
  float: left;
  margin: 5px 10%;
  padding: 5px;
  border: 2px solid #368C5E;
  border-radius: 5px;
  background-color: #FFF9F9;
}

.contact-greeting {
  margin: 0 auto;
  width: 80%;
  padding: 50px 0 0 15px;
}

.contact-greeting p {
  font-size: 1.2rem;
  font-weight: 300;
  text-align: center;
  color: #11182F;
}

.contact-form {
  width: 90%;
  justify-content: center;
  margin: 20px;
}

.contact-form textarea {
  width: 100%;
  margin-bottom: 1px;
}

.contact-form input {
  width: 100%;
  margin-bottom: 3px;
}

.contact-form button {
  width: 100%;
}

footer {
  background-color: #6B8E94;
  color: #FFF9F9;
  /*padding: 10px;*/
  font-size: 0.8rem;
  border-top: 1px solid #11182F;
  border-bottom: 1px solid #11182F;
  box-sizing: border-box;
}

footer .image {
  display: inline-block;
  /*width: 300px;*/
  height: auto;
}

footer .image {
  width: 100vw;
  height: 100vw;
}

footer .image img {
  width: 100vw;
  height: 100vw;
}

footer .image.hidden-small {
  display: none;
}

@media (min-width: 555px) {
  footer .image {
    width: 49vw;
    height: 50vw;
  }
  footer .image img {
    width: 50vw;
    height: 50vw;
  }
  footer .image.hidden-small {
    display: inline-block;
  }

  footer .image.hidden-md {
    display: none;
  }
}

@media (min-width: 720px) {
  .hero {
    background-attachment: fixed;
  }
  .brand {
    float: left;
    padding-top: 10px;
    padding-right: 25px;
  }
  .toggle-button {
    display: none;
  }
  .main-nav {
    display: inline;
    float: right;
    padding-top: 0px;
    padding-right: 20px;
    font-size: 1.1rem;
  }
  .main-nav ul {
    display: inline;
  }
  .main-nav li {
    list-style: none;
    display: inline;
    padding: 10px;
  }
  .main-nav a {
    text-decoration: none;
    font-size: 1.1rem;
  }
  .hero {
    text-align: center;
  }

  .hero h1 {
    font-size: 2.2rem;
  }
}

@media (min-width: 812px) {
  .hero h1 {
    font-size: 3rem;
  }
  nav a {
    font-weight: 400;
    margin-right: 20px;
  }

  .hero {
    background-size: cover;
  }

  ul.project-list {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: space-around;
  }

  ul .card {
    width: 420px;
    margin: 10px;
  }

  .find-me {
    width: 27%;
    align-items: space-around;
    margin: 0 auto;
    margin-top: 10px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .contact-form {
    width: 60%;
    flex: 2
  }
  .contact-greeting {
    flex: 1
  }
  footer {
    clear: both;
  }

  footer .image {
    width: 19.5vw;
    height: 20vw;
  }
  footer .image img {
    width: 20vw;
    height: 20vw;
  }
  footer .image.hidden-small {
    display: inline-block;
  }

  footer .image.hidden-md {
    display: inline-block;
  }
}

section.projects, .frameworks, .languages {
  display: none;
}
