/* COLORS:
 #11182F;  rgb(17,24,47)
 #F4D24C;  rgb(244,210,76)
 #6B8E94;  rgb(107,142,148)
 #EEE3D0;  rgb(238,227,208)
 #83A97C;  rgb(131,169,124)
 #B63811;  rgb(182,56,17)
*/

html {
  font-family: 'Open Sans', 'San Francisco', Helvetica, sans-serif;
  box-sizing: border-box;
  font-size: 16px;
  background: linear-gradient(
    rgba(17,24,47, 0.9),
    rgba(17,24,47, 0.1)),
    url('../img/ep_naturalwhite.png');
  background-repeat: repeat;
  background-attachment: fixed;
}

nav {
  background-color: #11182F;
  color: #EEE3D0;
  height: 50px;
  padding: 10px;
  position: fixed;
  z-index: 1000;
  width: 100%;
}

a, a:visited {
  color: #11182F;
  text-decoration: none;
}

nav a, nav a:visited {
  color: #EEE3D0;
  font-weight: 300;
  font-size: 1rem;
}

nav a:active, nav a:hover {
  color: #F4D24C;
}

h1 {
  font-size: 1.6rem;
  font-family: 'Audiowide', sans-serif;
  color: #F4D24C;
  padding: 12px;

}

.brand {
  font-family: 'Audiowide', sans-serif;
  font-size: 2.2rem;
  font-weight: bold;
  color: #83A97C;
  text-align: center;
}

.toggle-button {
  position: fixed;
  right: 10px;
  top: 10px;
  font-size: 1.2rem;
  cursor: pointer;
}

.main-nav {
  display: none;
}

.hero {
  background:
    url('../img/bg.jpg');
  background-size: contain;
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  min-height: 50vw;
  position: relative;
}

.hero h1 {
  position: absolute;
  top: 60px;
  left: 0;
}

ul {
  list-style: none;
  padding: 0;
}

ul .card {
  list-style: none;
  background-color: #EEE3D0;
  border: 1px solid #11182F;
  border-radius: 3px;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 20px;
  padding: 0;
  max-width: 360px;
}

.card-image {
  text-align: center;
  padding-top: 15px;
}

.card-body {
  padding: 20px;
  text-align: justify;
  color: #11182F;
}

.card-title {
  max-width: 320px;
  margin: 0 auto;
  margin-top: -30px;
  color: #EEE3D0;
  font-size: 1.2rem;
  font-weight: 300;
}

.section-title {
  color: #EEE3D0;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgba(131,169,124, 0.3);
  border-bottom: 1px solid #11182F;
  border-top: 1px solid #11182F;
}

.projects {
  display: flex;
}

.projects .card {
  flex-direction: row;
}

.find-me {
  width: 80%;
  float: left;
  margin: 5px 10%;
  padding: 5px;
  border: 2px solid #83A97C;
  border-radius: 5px;
  background-color: #EEE3D0;
}

.contact-greeting {
  margin: 0 auto;
  width: 80%;
  padding: 50px 0 0 15px;
}

.contact-greeting p {
  font-size: 1.2rem;
  font-weight: 300;
  text-align: center;
  color: #11182F;
}

.contact-form {
  width: 90%;
  justify-content: center;
  margin: 20px;
}

.contact-form textarea {
  width: 100%;
  margin-bottom: 1px;
}

.contact-form input {
  width: 100%;
  margin-bottom: 3px;
}

.contact-form button {
  width: 100%;
}

footer {
  background-color: #6B8E94;
  color: #EEE3D0;
  padding: 10px;
  font-size: 0.8rem;
  border-top: 1px solid #11182F;
  border-bottom: 1px solid #11182F;
}

@media (min-width: 720px) {
  .brand {
    float: left;
    padding-top: 10px;
    padding-right: 5px;
  }
  .toggle-button {
    display: none;
  }
  .main-nav {
    display: inline;
    float: right;
    padding-top: 0px;
    padding-right: 20px;
    font-size: 1.1rem;
  }
  .main-nav ul {
    display: inline;
  }
  .main-nav li {
    list-style: none;
    display: inline;
    padding: 10px;
  }
  .main-nav a {
    text-decoration: none;
    font-size: 1.1rem;
  }
  .hero {
    text-align: center;
  }

  .hero h1 {
    font-size: 2rem;
  }
}

@media (min-width: 812px) {
  nav a {
    font-weight: 400;
    margin-right: 20px;
  }

  .hero {
    background-size: cover;
  }

  ul.project-list {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: space-around;
  }

  ul .card {
    max-width: 420px;
    margin: 10px;
  }

  .find-me {
    width: 27%;
    align-items: space-around;
    margin: 0 auto;
    margin-top: 10px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .contact-form {
    width: 60%;
    flex: 2
  }
  .contact-greeting {
    flex: 1
  }
  footer {
    clear: both;
  }

}

section.projects, .frameworks, .languages {
  display: none;
}
